<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <style>
        /* Add your custom CSS styles here */
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="text-center">
            <h3 class="text-center mb-4">Код отправлен на ваш номер телефона</h3>
        </div>
        <h2>Введите номер телефона и код</h2>
        <form action="{% url 'send-code' %}" method="post" id="PhoneCode">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Отправить код</button>
        </form>
    </div>

    <script>
    </script>
</body>
</html>